{% extends "/layouts/base.twig" %}


{% block content %}


	<h1>About Page john</h1>
	<div>{{ about.content|raw }}</div>

	{% for articulo in articulos %}
		{{ articulo.title }}
		{{ articulo.text_content }}
		<img src="{{ articulo.image }}" alt="{{ articulo.title }}">
	{% endfor %}
	
{% endblock %}
